<?xml version="1.0"?>
<!--
/**
 * Thompsom Software.
 *
 * @category  Thompsom
 * @package   Thompsom_CustomerImport
 * @author    Thompsom
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Thompsom_CustomerImport" setup_version="1.0.0">
        <sequence>
            <module name="Magento_Customer"/>
        </sequence>
    </module>
</config>
